@mixin parallax-background($file) {
  background: url($file) no-repeat center center fixed;
  @include background-size(cover);
}

$parallax-height: 100vh;
$center-margin: 0px auto;

@mixin background-size($size) {
  background-size: $size;
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #2e3738;
}


#landscape {

  @include parallax-background("https://s3.amazonaws.com/codecademy-content/projects/sass/landscape.jpg")
}

#monkeys {

  @include parallax-background("https://s3.amazonaws.com/codecademy-content/projects/sass/monkeys.jpg")
}

#landscape,
#monkeys {
  height: $parallax-height;
    width: 100%;
  height: 100vh;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto;
	h1{
		text-transform: uppercase;
	  	font-family: 'Bitter', serif;
	  	letter-spacing: 0.06em;
	  	font-size: 120px;
	  	color: #FFF;
	  	opacity: 0.7;
	  	text-align: center;
    	transform: translateZ(-2px);
	}
}

p {
	width: 70%;
	padding: 5%;
	margin: 0px auto;
	text-align: center;
	font-size: 20px;
	font-weight: 200;
	line-height: 1.4;
  margin: $center-margin;
}
