html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 16px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}


/* Header */
.nav-pills li a {
  color: #d8192f;
}

.nav-pills li.active a,
.nav-pills li a:hover,
.section .btn:hover {
  background-color:rgba(216,25,47,1);
  box-shadow:0 2px 4px rgba(0,0,0,.5); 
  color:#fff;
}


/* Jumbotron */
.jumbotron {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/bestbite/bg.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  padding-top: 25px;
  margin-bottom: 0;
}

.jumbotron h2 {
  color: #fff;
  font-size: 60px;
  text-align: right;
  width: 100%;
}


/* Banner */
.banner, .supporting {
  text-align: center;
  padding-top: 40px;
}

.banner {
  background-color:#36343f;
  height:180px; 
  color: #fff;
}

/* Media Queries */
@media (max-width: 680px) {
  .header h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  .nav {
    float: none;
    margin: 0 auto;
  }
  .banner {
    height: 220px;
  }

  .nav-pills li:first-child a  {
    margin-left: 0;
  }
}
.section .btn {
  background-color: rgba(216,25,47,.5);
  border: 0px;
  margin-top:24px;
  color: #fff;
}
.section {
  display: block;
  text-align: center;
  box-sizing: border-box;
}
.section h4 {
  color:#d8192f;
}
li {
  list-style-type: none;
}
.footer {
  background-color: #eee;
  padding: 40px 0px 100px;
  margin-top: 80px;
  font-size: 14px;
}
.footer p {
  float: left;
  width: 33%;
}
.a-center {
  text-align: center;
}
.a-right {
  text-align: right;
}
.footer a {
  color: #d8192f;
}
