html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 940px; 
	padding: 0 10px; 

}


/* Header */
.header {
  height: 800px;
  text-align: center; 
  background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg);
}

.header .container {
	position: relative;
	top: 200px;
  color: #fff;
}

.header h1 {
	font-size: 80px;
	line-height: 100px; 
	margin-top: 0;
	margin-bottom: 80px;
}

@media (min-width:850px) {
	.header h1 {
		font-size: 120px;
	}
}

.header p {
	font-weight: 500;
	letter-spacing: 8px;
	margin-bottom: 40px;
	margin-top: 0;
}

.btn:hover {
	background: #117bff;
	cursor: pointer; 
	transition: background .5s;  
}


/* Nav */
.nav ul {
	list-style: none;
	margin: 0 auto; 
	padding: 30px 0;
	text-align: center; 
}
.nav {
  background:black;
}
.nav ul li {
  background: black;
  display: inline-block;
}

/* Main */
.main .container {
	margin: 80px auto;
}


/* Jumbotron */
.jumbotron {
	height: 600px; 
	text-align: right;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg);
  background-size: cover;
  height: 600px;
}

.jumbotron .container {
	position: relative;
	top: 220px;
  color: #fff;
}


/* Footer */
.footer { 
	font-size: 14px;
  background: #000;
  height: 80px;
  line-height: 80px;
}

.footer p {
	color: #fff;
  font-size: 14px;
  height: 80px;
}
/* Media Queries */
@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main, .jumbotron {
    padding: 0 30px;
  }

  .main img {
    width: 100%;
  }
}

.btn {
  color: #fff;
  background: #000;
  padding: 10px 40px;
  text-decoration: none;
  transition: background .5s; 
}
.main img {
 float: left;
  
}
