html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}
body {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/junction/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  max-width:940px;
}

/* Header */
.header {
  background: rgba(0,0,0,.5);
  height: 60px;
  padding: 10px 0;
}

/* Jumbotron */
.jumbotron {
  background-color: transparent;
  text-align: center;
  position: relative;
  top: 50px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.jumbotron h1 {
  color: #fff;
  font-size: 60px;
  text-shadow: 0 2px 3px rgba(0,0,0.4);
}
/* Supporting */
.supporting {
  margin-top: 40px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.logo {
  margin: 0px 30px 0px;
}
.nav {
  display: inline-block;
  margin: 0px;
  padding: 8px 0;
}
.nav li {
  color: #fff;
  display: inline;
  font-size: 14px;
  margin-right: 30px;
  padding: 0 0 5px;
  
}
.row {
	margin-right: -15px;
  margin-left: -15px;
}
.img {
  vertical-align: middle;
}
.supporting .col-md-4 {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
.download {
  position: relative;
  top: 80px;
  text-align: center;
}
.btn {
  display: inline-block;
}
.btn-default {
  background: rgba(0,255,188,0.5);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 10px 60px;
  margin-bottom: 100px;

}
