html, body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
body {
  font-size: 14px;
}
.header {
  background: #000;
  min-height: 80px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header img {
  margin: 15px 0 0 0;
}
img {
  vertical-align: middle;
  border: 0;
}
.search {
  float: right;
  margin: 25px 0 0 0;
}
form {
  display: block;
  margin-top: 0em;
}
.search-form input {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #fff;
  color: #fff;
  height: 30px;
  width: 240px;
}
.search-btn {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #1a77ff;
  color: #fff;
  height: 30px;
  margin: 0 0 0 10px;
  padding: 0 10px;
}
.main {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/newsroom/bass-bg.jpg) no-repeat center;
  background-size: cover;
  height: 500px;
}
.main .container .col-md-5 {
  padding: 40px;
}
.main .container .col-md-5 .p.date {
  color: #fff;
  font-size: 16px;
}
.main .container .col-md-5 h2 {
  color: #fff;
  font-size: 60px;
  margin: 20px 0;
}
.main .container .col-md-5 h2 span {
  border-bottom: 5px solid #1a77ff;
}
.main .container .col-md-5 p {
  color: #fff;
  font-size: 20px;
}
p {
  margin: 0 0 4px;
}
.menu {
  background: #152230;
  min-height: 40px;
}
.menu ul.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu ul.nav li {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}
.menu ul.nav li a {
  color: #fff;
  margin: 0;
  padding: 0;
}
.nav>li>a {
  position: relative;
  display: block;
}
.menu ul.nav li:hover, .menu ul.nav li.active {
  background: #1a77ff;
}
.supporting .row .col-md-8 {
  background: #fff;
  padding: 20px 40px 40px 40px;
}
.supporting .row ul {
  list-style: none;
  margin: 40px 0 0 0;
  padding: 0;
}
.supporting .row ul li {
  margin: 0 0 20px 0;
}
.supporting .row ul li h4 span {
  border-bottom: 3px solid #1a77ff;
}
.supporting .row .col-md-4 {
  background: #152230;
  padding: 20px 40px 40px 40px;
}
.supporting .row .sidebar h3 {
  color: #fff;
}
.supporting .row .col-md-4 ul li {
  color: #fff;
}
.col-md-12 img {
  width: 100%
}
img {
  vertical-align: middle;
}
.footer {
  background: #000;
  padding: 40px 0;
}
.footer ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer ul li {
  color: #fff;
  display: inline;
  margin: 0 40px 0 0;
}
.footer p {
  color: #e2e2e2;
  float: right;
}
