html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 940px;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.header .container {
  padding: 30px 0;
  border-bottom: 1px solid #e5e5e5;
}

img {
  vertical-align: middle;
}
body {
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/pocketbook/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #140e07;
  color: #fff;
}
.main h1 {
  font-size: 30px;
  margin: 0 0 20px 0;
}
form {
  display: block;
  margin-top: 0em;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: in-line block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.main .btn {
  margin-top: 30px;
  color: #fff;
  background: rgba(0,240,190,0.25);
  border: 0px;
  border-radius: 0px;
}
.footer .container {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
}
.footer ul {
  list-style: none;
  padding: 0 20px;
  margin-bottom: 80px;
}
.footer li {
  display: inline;
  margin-right: 20px;
}
.main {
  margin: 80px 0;
}
